<div>
  <form>
    <div class="input-append">
      <input class="span6" id="appendedInputButtons" value="{{query}}" ng-model="query" size="16" type="text"/>
      <button id="btnfix" ng-click="searchBtn()" class="btn btn-success">Search</button>
    </div>
  </form>
  <div class="row-fluid">
    <div class="span12">
      <!--<div ng-repeat="item in results">
      	<div class="span8">
        <h5 ng-bind-html="item.amount"></h5> -->
        <!--<p ng-bind-html="item.description"></p> -->
        </div>

      </div>
    </div>
  </div>
</div>
